<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DataPublishTime" value="18"/>

    <add key="Shfe.Dealer.Position.Url" value="http://www.shfe.com.cn/data/dailydata/kx/pm[DATE].dat"/>
    <add key="Shfe.Transaction.Url" value="http://www.shfe.com.cn/data/dailydata/kx/kx[DATE].dat"/>

    <add key="Czce.Dealer.Position.Url" value="http://www.czce.com.cn/portal/exchange/[YEAR]/datatradeholding/[DATE].htm"/>
    <add key="Czce.Transaction.Url" value="http://www.czce.com.cn/portal/exchange/[YEAR]/datadaily/[DATE].htm"/>

    <add key="Dce.Dealer.Position.Commodity.Url" value="http://www.dce.com.cn/PublicWeb/MainServlet?action=Pu00021_result&amp;Pu00021_Input.prefix=&amp;Pu00021_Input.trade_date=[DATE]&amp;Pu00021_Input.content=0&amp;Pu00021_Input.content=1&amp;Pu00021_Input.content=2&amp;Pu00021_Input.variety=[VARIETY]&amp;Pu00021_Input.trade_type=0&amp;Pu00021_Input.contract_id=&amp;Submit=%B2%E9+%D1%AF"/>
    <add key="Dce.Dealer.Position.Contract.Url" value="http://www.dce.com.cn/PublicWeb/MainServlet?action=Pu00021_result&amp;Pu00021_Input.prefix=&amp;Pu00021_Input.trade_date=[DATE]&amp;Pu00021_Input.content=0&amp;Pu00021_Input.content=1&amp;Pu00021_Input.content=2&amp;Pu00021_Input.variety=[VARIETY]&amp;Pu00021_Input.trade_type=0&amp;Pu00021_Input.contract_id=[CONTRACT]&amp;Submit=%B2%E9+%D1%AF"/>
    <add key="Dce.Transaction.Url" value="http://www.dce.com.cn/PublicWeb/MainServlet?action=Pu00011_result&amp;Pu00011_Input.trade_date=[DATE]&amp;Pu00011_Input.variety=all&amp;Pu00011_Input.trade_type=0&amp;Submit=%B2%E9+%D1%AF"/>
    <add key="Dce.Commodity.Code.Url" value="http://www.dce.com.cn/PublicWeb/MainServlet?action=Pu00021_search"/>
  </appSettings>
</configuration>